[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog/tree/v1.8.2
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui/tree/v1.79
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/Groovounet/glm/tree/0.9.3.4
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw/tree/latest
[submodule "vendor/stb_image"]
	path = vendor/stb_image
	url = https://github.com/nothings/stb
[submodule "vendor/glew"]
	path = vendor/glew
	url = https://github.com/nigels-com/glew/tree/glew-2.2.0
